<mat-card style="margin-bottom:5px;">
    {{title}}
    <mat-card-actions style="text-align:right;">
      <button mat-icon-button>
        <span matTooltip="Edit">
            <mat-icon>edit</mat-icon>
        </span>
      </button>
      <button mat-icon-button>
          <span matTooltip="Delete">
              <mat-icon>delete</mat-icon>
          </span>
      </button>        
    </mat-card-actions>
  </mat-card>
  
  
  <mat-card style="margin-bottom:5px;">
      {{title}}
      <mat-card-actions style="text-align:right;">
        <button mat-icon-button>
          <span matTooltip="Edit">
              <mat-icon>edit</mat-icon>
          </span>
        </button>
        <button mat-icon-button>
            <span matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </span>
        </button>        
      </mat-card-actions>
    </mat-card>
  
    <mat-card style="margin-bottom:5px;">
        {{title}}
        <mat-card-actions style="text-align:right;">
          <button mat-icon-button>
            <span matTooltip="Edit">
                <mat-icon>edit</mat-icon>
            </span>
          </button>
          <button mat-icon-button>
              <span matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
              </span>
          </button>        
        </mat-card-actions>
      </mat-card>